################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/connectivity.txt
/coords.txt
/ordering.txt
/A.txt
/rhs.txt
